# Python cache and virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Data files (to avoid uploading large CSVs)
data/*.csv
